<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your custom message asking for location permission</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Your custom message asking for location permission</string>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
    <key>GMSApiKey</key>
    <string>AIzaSyD-YourActualGoogleMapsAPIKeyHere</string>
</dict>
</plist>